---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a passionate and dedicated individual with a strong interest in technology and problem-solving. With a solid foundation in programming and software development, I enjoy tackling challenges and delivering effective solutions. I am eager to apply my skills and knowledge to meaningful projects, continuously learning and growing along the way.

    Motivated by curiosity and a drive for excellence, I strive to bring value to every endeavor, whether working independently or as part of a team.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="HTL"
      subtitle="2020 - 2025 in der HTL Saalfelden für Informatik, Expositur Sankt Johann im Pongau"
    />
    <TimeLineElement
      title="Fachhochschule"
      subtitle="2025 - xxxx at FH Puch/Urstein, Puch"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Billa AG"
      subtitle="2022-2025, Billa Plus Zell am See"
    >
      Erfahrener und zuverlässiger Mitarbeiter mit Fokus auf Kundenservice, Warenpräsentation und effiziente Abläufe. Freundlich, teamfähig und stets engagiert, um ein angenehmes Einkaufserlebnis zu gewährleisten.
    </TimeLineElement>
    <TimeLineElement
      title="Praktikum MovingPrimates"
      subtitle="Sommer 2022, Sankt Johann in Tirol"
    >
      Frontend Entwicklung von Online-Shops mithilfe von Shopify.
     <br> 
      Shopify Liquid
    </TimeLineElement>
    <TimeLineElement
        title="Praktikum Porsche Informatik"
        subtitle="Sommer 2023, Salzburg"
    >
      Full-Stack Entwicklung für B2B-Anwendungen
      <br> 
      Angular, Spring Boot
    </TimeLineElement>
    <TimeLineElement
        title="Praktikum Porsche Informatik"
        subtitle="Sommer 2024, Salzburg"
    >
      Full-Stack Entwicklungen für interne Systeme
      <br> 
      Angular, Spring Boot
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Programming Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C</li>
    <li>C#</li>
    <li>Avalonia</li>
    <li>Java</li>
    <li>Angular</li>
    <li>TypeScript</li>
    <li>Python</li>
    <li>Spring Boot</li>
    <li>ASP.NET</li>
  </ul>
</BaseLayout>
