---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import createSlug from "../lib/createSlug"
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm David Legenjovic</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Entrepreneur</div>
    <div class="py-2">
      <text class="text-lg">
        Hello! I am a dedicated student at HTL Saalfelden with a passion for software development and technology. My skill set includes expertise in C#, Java, Angular, Spring Boot, ASP.NET, C, and Python. I enjoy creating efficient, user-friendly applications and continually expanding my knowledge in full-stack development. Whether it's building dynamic web applications or tackling challenging backend problems, I am always eager to learn and grow in the tech world.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://github.com/daveYQ" target="_blank"> My GitHub</a>
      <a href="tel:004367761331252" target="_blank" class="btn btn-outline ml-5">
        Call Me &lt;3
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/portfolio/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/portfolio/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/portfolio/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
</BaseLayout>
